.cart__div {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 5px;
}

.cart__container {
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
    background-color: #ffd9f4;
    height: 100px;
    place-content: center;
}

.hr {
    border: 1px solid var(--light-gray);
    margin: 0;
}

.cart__total {
    color: var(--text-gray);
}

.cart__btn {
    background-color: var(--primary);
    border: none;
    padding: 10px;
    width: 130px;
    color: white;
    margin: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.cart__btn:hover {
    background-color: red;
    transition: all ease;
}