.home__listProducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-content: center;
    grid-template-rows: auto;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.home__div {
    display: flex;
    margin: 40px auto;
    place-content: center;
}

.home__input {
    font-size: 15px;
    display: flex;
    border: 1px solid var(--light-gray);
    letter-spacing: .5px;
    width: 60%;
    outline: none;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home__input::placeholder {
    font-size: 10px;
    color: var(--light-gray);
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 17px;
    position: absolute;
    top: 25%;
}

.home__btn {
    background-color: var(--primary);
    color: white;
    border: none;
    font-size: 18px;
    width: 50px;
    cursor: pointer;
}

.home__btn:hover {
    background-color: red;
    transition: all 0.2s ease;
}

/* panel lateral */
.ul {
    display: none;
    color: var(--light-gray);
    text-align: center;
    cursor: pointer;
}

.categories {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px;
    color: var(--light-gray);
    justify-content: center;
}

.categories:hover {
    background-color: red;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.input {
    display: none;
}

.input:checked ~ .ul{
    display: block;
}

.div {
    position: absolute;
    margin: 0 auto;
    background-color: var(--primary);
    border-radius: 5px;
    width: 100px;
}

.container {
    margin-bottom: 150px;
    margin-top: -35px;
    margin-left: 30px;
    display: flex;
    place-content: center;
}

.icon {
    font-size: 17px;
}

.icon:hover {
    -webkit-transform: rotate(360deg);
    transition: 2s ease;
}

.li:hover {
    background-color: red;
    opacity: 1;
}