.home__listProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  justify-content: center;
  grid-template-rows: auto;
  gap: 40px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.home__div {
  display: flex;
  margin: 40px auto;
  place-content: center;
}

.home__input {
  font-size: 15px;
  display: flex;
  border: 1px solid var(--light-gray);
  letter-spacing: 0.5px;
  width: 60%;
  outline: none;
  height: 30px;
}

.home__input::placeholder {
  font-size: 10px;
  color: var(--light-gray);
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 17px;
  position: absolute;
  top: 25%;
}

.home__btn {
  background-color: #002e30;
  color: white;
  border: none;
  font-size: 18px;
  width: 50px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.home__btn:hover {
  background-color: #034649;
  transition: all 0.2s ease;
}

.categories {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5px;
  color: var(--text-gray);
  justify-content: center;
  background-color: #002e30;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.categories:hover {
  color: var(--text-gray);
  transition: all 0.2s ease;
}

.arrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  font-size: 25px;
  color: #e7e2e2;
}

.arrow:hover {
  color: white;
}

.arrow.rotated {
  transform: rotate(90deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.content li {
  padding: 5px;
  align-items: start;
  text-align: left;
  margin-left: 28px;
}

.content.expanded {
  max-height: 200px; /* Ajusta según la altura de tu contenido */
}
.input {
  transition: all 0.2s ease;
  display: none;
}

.input:checked ~ .ul {
  transition: all 0.2s ease;
  display: block;
}

.div {
  /* position: relative; */
  margin: 0 auto;
  background-color: #002e30;
  width: 200px;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.container {
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
  margin-top: -35px;
  /* margin-left: 30px; */
  display: flex;
  place-content: center;
}

.icon {
  font-size: 17px;
  color: #e7e2e2;
  text-transform: uppercase;
}

.icon:hover {
  transition: all 0.2s ease;
  color: white;
}
.li {
  color: white;
}
.li:hover {
  color: #e7e2e2;
  transition: all 0.2s ease;
  opacity: 1;
}

@media (max-width: 551px) {
  .div {
    top: 55px;
  }
}
@media (max-width: 262px) {
  .div {
    top: 80px;
  }
}
